<div class="container">
  <div class="jumbotron">
    <div class="text-center">
      <h1>Music Wall</h1> 
        <p>Check out songs people have posted, or post a new one yourself!</p>
      <a href="/songs/new" class="btn btn-success" role="button">Submit a Song</a> 
    </div>
  </div>
</div>



<% @songs.each do |song| %>
  <div class="container-fluid">
    <div class="song text-center">
      <h3><%= song.title %> <small>(Artist: <%= song.artist %>)</small></h3>
        <div id='videoclipframe' class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="http://www.youtube.com/embed/<%=song.link%>" frameborder="0" allowfullscreen> </iframe>
        </div>
    </div>
  </div>
<% end %>
