<div class="container">
<form method="post" action="/songs">
 
 <fieldset class="form-group">
    <label for="titleInput">Title:</label>
    <input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
  </fieldset>
  <fieldset class="form-group">
    <label for="artistInput">Artist:</label>
    <input type="text" class="form-control" id="artistInput" placeholder="Artist" name="artist">
  </fieldset>
  <fieldset class="form-group">
    <label for="linkInput">Youtube Link (or other without embedding):</label>
    <input type="text" class="form-control" id="artistInput" placeholder="Link to Video" name="link">
  </fieldset>
  <div>
    <input type="submit" class="btn btn-info" value="Submit Music Video">
  </div>
</form>
</div>
